// Colors
$color-primary-dark: rgb(24, 223, 136);
$color-primary-light: rgb(119, 211, 103);
$color-text-light: #fff;
$color-primary: #55c57a;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-grey-light-1: #f6f6f6;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-black: #000000;
// grid-test
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
// font-size
$font-size-default: 1.8rem;
