@import "abstracts/functions.scss";
@import "abstracts/mixins.scss";
@import "abstracts/variables.scss";

@import "pages/home";

@import "base/base.scss";
@import "base/animations.scss";
@import "base/typography.scss";
@import "base/utilities.scss";

@import "components/button.scss";
@import "components/bg-video";

@import "components/composition.scss";
@import "components/feature-box";
@import "components/card";
@import "components/story";
@import "components/form";
@import "components/popup";

@import "layout/header";
@import "layout/grid";
@import "layout/footer";
@import "layout/nav";

.hello {
  transform: scale(80);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(80);
  -moz-transform: scale(80);
  -ms-transform: scale(80);
  -o-transform: scale(80);
}
